

<div class="row">
  <form class="col s6 offset-s3">
    <div class="row">
      <div class="input-field col s6">
        <input  id="firstNae" type="text" class="validate">
        <label for="firstNae">Nombres</label>
      </div>
      <div class="input-field col s6">
        <input id="lastName" type="text" class="validate">
        <label for="lastName">Apellidos</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="email" type="email" class="validate">
        <label for="email">Correo</label>
      </div>
      <div class="input-field col s6">
        <input id="phone" type="text" class="validate">
        <label for="phone">Teléfono</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="certificate" type="text" class="validate">
        <label for="certificate">Cédula</label>
      </div>
      <div class="input-field col s6">
        <label for="speciality">Especialidad</label>
        <select id="speciality" name="speciality">
          <option value="" >Especialidad</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="address" type="text" class="validate">
        <label for="address">Dirección</label>
      </div>

    </div>
  </form>
</div>

<div class="row">
  <div class="col s6 offset-s3">
    <ngui-map center="Brampton, Canada"></ngui-map>
  </div>
</div>
