
<br>
<div class="row">
  <form [formGroup]="doctorForm" class="col s6 offset-s3">
    <div class="row">
      <div class="input-field col s12">
        <input  formControlName="name" name="name" id="name" type="text" class="validate">
        <label for="name">Nombre completo</label>
      </div>
      <div class="input-field col s6">
        <input  formControlName="email" id="email" name="email" type="email" class="validate" disabled>
        <label for="email">Correo</label>

      </div>
      <div class="input-field col s6">
        <input  formControlName="phone" name="phone"  id="phone" type="text" class="validate">
        <label for="phone">Teléfono</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input  formControlName="certificate" name="certificate" id="certificate" type="text" class="validate">
        <label for="certificate">Cédula</label>
      </div>
      <div class="input-field col s6">
        <select  formControlName="speciality" name="specility" id="speciality" name="speciality" materialize="material_select" [materializeSelectOptions]="specilities">
          <option *ngFor="let specilitie of specilities" [value]="specilitie" >{{specilitie}}</option>
        </select>
        <label for="speciality">Especialidad</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="address" name="address" id="address" type="text" class="validate">
        <label for="address">Dirección</label>
      </div>

    </div>
    <div class="row">
      <a (click)="sendForm()" class="waves-effect waves-light btn col s6 offset-s3">Completar registro</a>
    </div>
  </form>
</div>

<div class="row">
  <div class="col s6 offset-s3">
    <ngui-map center="Brampton, Canada"></ngui-map>
  </div>
</div>
