$roboto-font-path: "~materialize-css/dist/fonts/roboto/";
@import "~materialize-css/sass/materialize";
@import "variables";

.btn-doctor{
  background: white;
  color: $primary-color;
}

.error-message{
  color: $error-color;
}

.photo-filed{
  display: none;
}
